#catBox {
    text-align:center;
}

#catBox .card {
    width:22%;
    margin:1%;
}

@media(max-width:1199.98px) {
    #catBox .card {
        width:46%;
    }
}

@media(max-width:991.98px) {
    #catBox .card {
        width:44%;
    }
}

@media(max-width:767.98px) {
    #catBox .card {
        width:95%;
        margin:0;
        margin-bottom:20px;
    }
}

@media(max-width:575.98px) {
    #catBox .card {
        width:92%;
    }
}
